<%- include('../partials/header.ejs') %>
  <%- include('../partials/navbar.ejs') %>

    <div class="row">
      <div class="col-sm-6"></div>
    </div>
    <div class="container">
      <div class="row"></div>
      <div class="m-1" style="text-decoration-color: rgb(30, 135, 241);">
        <div class="row">
          <div class=" col-sm-6">
            <div class="form-group" style="opacity: 1;">
              <label>Data </label>
              <select class="form-control" multiple=""
                aria-label="multiple select example" style="position: static;">
                <option value="value1">Text 1</option>
                <option value="value2">Text 2</option>
                <option value="value3">Text 3</option>
              </select></div>
          </div>
          <div class=" col-sm-6">
            <div class="form-group" style="left: auto;">
              <label>Período</label>
              <select class="form-control" multiple=""
                aria-label="multiple select example">
                <option value="value1">Text 1</option>
                <option value="value2">Text 2</option>
                <option value="value2">Text 2</option>
                <option value="value2">Text 2</option>
              </select></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class=" col-sm-5">
          
            <div class="form-group" style="opacity: 1;">
              <label>Data </label>
              <select class="form-control" multiple=""
                aria-label="multiple select example" style="position: static">
                <option value="value1">Text 1</option>
                <option value="value2">Text 2</option>
                <option value="value3">Text 3</option>
              </select>
            </div>
          
        </div>

        <!-- BOTAO -->
        <div class=" col-5 col-sm-2 align-self-center" style="position: static; text-align: center; line-height: 3rem;">
          <button type="button" class="btn btn-success">
            <<<
          </button>
          <button type="button" class="btn btn-danger">
            >>>
          </button>
        </div>
        <!-- FIM BOTAO -->
        <div class=" col-sm-5">
          
            <div class="form-group" style="opacity: 1;">
              <label>Data </label>
              <select class="form-control" multiple=""
                aria-label="multiple select example" style="position: static;">
                <option value="value1">Text 1</option>
                <option value="value2">Text 2</option>
                <option value="value3">Text 3</option>
              </select>
            </div>
          
        </div>
      </div>
    </div>

    <%- include('../partials/footer.ejs') %>